.footer {
    background-color: $color-black;
    color: $color-white;
  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(mobile) {
        font-size: 1.3rem;
    }
}