.footer {
    background-color: $color-black;
    color: $color-white;
  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &__box {
        display: flex;
        gap: 2rem;
        font-size: 1.4rem;

        @include respond(mobile) {
            font-size: 1.2rem;
            gap: .8rem;
        }

        & a {
            color: inherit;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}