// Contains the footer and the rest of the layout in the .wrapper
.layout {
    min-height: 100vh;
    position: relative;
    z-index: 100;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 5rem;

    &--admin {
        grid-template-rows: auto;
    }
}



// Contains the Navigation and Main content
.wrapper {
    justify-content: center;
    width: 100%;

    display: grid;
    grid-template-columns: minmax(8rem, 1fr) minmax(max-content, 170rem) minmax(8rem, 1fr) ; 
    grid-template-rows: 8rem 1fr;

    @include respond(desk) {
        grid-template-columns: minmax(8rem, 1fr) minmax(max-content, 160rem) minmax(8rem, 1fr);
    } 
    
    @include respond(lap) {
        grid-template-columns: 3rem 1fr 3rem;
    } 
    
    @include respond(tab-land) {
        grid-template-columns: minmax(4rem, 1fr) minmax(max-content, 170rem) minmax(4rem, 1fr);
    }
    
    @include respond(tab-port) {
        grid-template-columns: minmax(3rem, 1fr) minmax(max-content, 170rem) minmax(3rem, 1fr);
        grid-template-rows: 6rem 1fr;
    }

    @include respond(mobile) {
        grid-template-columns: minmax(1.5rem, 1fr) minmax(max-content, 170rem) minmax(1.5rem, 1fr);
    }
}



// Navigation Component ---------------------------------------
.navigation {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;

    @include respond(tab-land) {
        grid-template-columns: max-content 1fr max-content;
        column-gap: 2rem;
    }

    @include respond(tab-port) {
        column-gap: 2rem;
    }

    @include respond(mobile-lg) {
        grid-template-columns: 1fr max-content;
        column-gap: 0;
    }
}



// Main Component -----------------------------------------------
.main { 
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: minmax(8rem, 1fr) minmax(50rem, 170rem) minmax(8rem, 1fr);

    @include respond(desk) {
        grid-template-columns: minmax(8rem, 1fr) minmax(50rem, 160rem) minmax(8rem, 1fr);
    } 
    
    @include respond(lap) {
        grid-template-columns: 3rem 1fr 3rem;
    } 
    
    @include respond(tab-land) {
        grid-template-columns: minmax(4rem, 1fr) minmax(10rem, 170rem) minmax(4rem, 1fr);
    }
    
    @include respond(tab-port) {
        grid-template-columns: minmax(3rem, 1fr) minmax(10rem, 170rem) minmax(3rem, 1fr);
    }

    @include respond(mobile) {
        grid-template-columns: minmax(1.5rem, 1fr) minmax(10rem, 170rem) minmax(1.5rem, 1fr);
    }
}



// Homepage ----------------------------------------------------
.home {
    grid-template-rows: 70rem max-content 90rem repeat(2, max-content);
    row-gap: 20rem;
    justify-self: center;
    justify-content: center;

    @include respond (desk) {
        grid-template-rows: 65rem max-content 70rem repeat(2, max-content);
    }

    @include respond (lap-lg) {
        grid-template-rows: 50rem max-content 70rem repeat(2, max-content);
    }
    
    @include respond(mobile-lg) {
        grid-template-rows: 37rem max-content 90rem repeat(2, max-content);
        row-gap: 10rem;
    }
}



// Establishments Results page ----------------------------------
.establishments {
    grid-template-rows: max-content 1fr;
    row-gap: 10rem;
    padding: 10rem 0;
    
    @include respond(mobile) {
        row-gap: 5rem;
        padding: 5rem 0;
    }
}



// Establishment Details Page ------------------------------------
.establishment {
    grid-template-rows: max-content 8rem 1fr max-content;

    @include respond(desk) {
        grid-template-rows: max-content 8rem 1fr max-content;
    }
    
    @include respond(mobile) {
        grid-template-rows: max-content 6rem repeat(2, max-content);
    }
}



// Contact Page --------------------------------------------------
.contact {
    grid-template-rows: 1fr;
}