.btn {

    // Standard for all buttons -----------------------------
    &,
    & a,
    & a:link,
    & a:visited {
        color: inherit;
        text-decoration: none;
        border-radius: 0;
        border: 1px solid transparent;
        outline: none;
        background-color: transparent;
        font-family: inherit;
        cursor: pointer;
        transition: all .3s;
        box-shadow: $boxshadow-default;
        display: inline-block;
        justify-self: flex-start;
    }

    &:hover {
        transform: translateY(-.25rem); 
        box-shadow: $boxshadow-hover;
    }

    // Mouse Click focus
    &:focus {
        background-color: orange;
    }

    // Keyboard focus
    &:focus-visible {
        outline: none;
        border: 1px solid $color-black;
    }

    &:active {
        transform: translateY(.25rem); 
        box-shadow: $boxshadow-active;
    }



    // Themes ----------------------------------------------
    &--primary {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: $boxshadow-default;

        &:hover,
        &:focus {
            background-color: rgb(255, 75, 120);
        }

        &:active {
            background-color: $color-primary-light;
        }

    }

    &--light-grey {
        background-color: $color-grey-light-2;
        color: $color-black;
        box-shadow: $boxshadow-default;

        &:hover,
        &:focus {
            background-color: $color-grey-light-1;
        }
    }

    &--dark-grey {
        background-color: $color-grey-dark-1;
        color: $color-white;
        box-shadow: $boxshadow-default;

        &:hover,
        &:focus {
            background-color: lighten($color-grey-dark-1, 10);    
        }
    }

    &--danger {
        background-color: $color-error;
        color: $color-white;
        font-weight: 600;

        &:hover,
        &:focus {
            background-color: darken($color-error, 10);
            box-shadow: $boxshadow-hover;
        }
    }



    // Sizes ------------------------------------------------
    &--cta {
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 1rem 5rem;

        @include respond(desk) {
            font-size: 2.5rem;
            padding: 1rem 4rem;
        }

        @include respond(mobile) {
            font-size: 2rem;
            padding: 1rem 3rem;
        }
    } 

    &--lg {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 1rem 3rem;

        @include respond(desk) {
            font-size: 2.25rem;
            padding: 1rem 2.5rem;
        }

        @include respond(mobile-lg) {
            font-size: 1.8rem;
            padding: .7rem 2rem;
        }
    } 

    
    &--md {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 1rem 2rem;

        @include respond(mobile) {
            font-size: 1.6rem;
            padding: .8rem 1.5rem;
        }
    } 

    &--sm {
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 1rem 1.5rem;
    } 
    
}