.category {

    // Scroll Container -----------------------------
    &__scroll {

        &::-webkit-scrollbar {
            display: none;
        }

        @include respond(tab-land) {
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            padding: 4rem 0;
        }

        @include respond(mobile) {
            width: calc(100vw - 3rem);
            padding: 2rem .5rem;
        }
    }


    // Grid Container --------------------------------
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;

        @include respond(tab-land) {
            grid-template-columns: repeat(3, 45rem);
        }

        @include respond(tab-land) {
            grid-template-columns: repeat(3, 35rem);
        }
    }


    // Link Container -----------------------------
    &__link {
        border: 1px solid transparent;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        text-decoration: none;
        transition: all .3s;

        @include respond(tab-port) {
            width: 35rem;
            height: 35rem;
        }

        &:focus-visible {
            border: 1px solid black;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
            outline: 0;
            transform: scale(1.025);
        }
    }    


    // Category Container -------------------------
    &__box {
        transition: all .3s;
        position: relative;
        z-index: 100;

        &:hover,
        &:focus {
            transform: scale(1.025);

            @include respond(mobile-lg) {
                transform: scale(1);
            }
        }

        &:active {
            transform: scale(.95);
        }
    }

    &__box div {
        width: 100%;     
    }

    &__image {
        border-radius: 3rem;
        width: 100%; 
    }


    // Category Title ---------------------------------
    &__title {
        font-size: 2rem;
        font-weight: 400;
        color: $color-black;
        border: none;

        @include respond(lap-lg) {
            font-size: 1.7rem;
        }
        
        @include respond(mobile) {
            font-size: 1.6rem;
        }
    }

}