.form {

    // Fieldset -------------------------------------
    &__fieldset {
        border: none;
        outline: none;
    }


    // Group ---------------------------------------
    &__group {
        overflow: hidden;
        overflow-wrap: break-word;
    }


    // Label ----------------------------------------
    &__label {
        display: block;
        font-size: 1.2rem;
        line-height: 1;
        margin-bottom: .5rem;
        font-weight: 400;
    }



    // Common styles --------------------------------
    &__input,
    &__textarea,
    &__select {
        -webkit-appearance: none;
        width: 100%;
        background-color: $color-grey-light-1;
        border: none;
        border-radius: 0;
        outline: none;
        padding: 1rem;
        font-family: $font-family-body;
        

        &::placeholder {
            color: rgba($color-grey-dark-1, .7);
            font-family: $font-family-body;
            font-size: 1.4rem;

            @include respond(desk){
                font-size: 1.2rem;
            }
        }
    }



    // Input -------------------------------------
    &__input {
        @include respond(desk){
            height: 3rem;
            padding: 0 1rem;
        }
    }



    // Textarea ----------------------------------------
    &__textarea {
        height: 20rem;
        resize: vertical;
        min-height: 10rem;
        max-height: 35rem;
        
        /* @include respond(mobile-lg) {
            resize: none;
        } */
    }

    &__group--textarea {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content;
    }


    // Select -------------------------------------------
    &__select {
        @include respond(desk){
            height: 3rem;
            padding: 0 1rem;
        }
    }

    &__select-box {
        position: relative;
    }

    &__select-icon {
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        transform: translate(-100%, -50%);
        top: 50%;
        right: 0;
        z-index: 10;
    }




    // Radio Input ---------------------------------------
    &__radio-group {
        width: 40%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__radio-button {
        height: 1.4rem;
        width: 1.4rem;
        border: 1px solid $color-grey-dark-2;
        border-radius: 50%;
        display: inline-block; 
        position: relative;
        margin-right: .5rem;

        &::after {
            content: "";
            display: block;
            height: .7rem;
            width: .7rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%);
            background-color: $color-grey-dark-1;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }


    // File upload -------------------------------
    &__file-upload {
        background-color: $color-grey-light-2;
        border-radius: 0;
        border: none;
        display: inline-block;
        width: unset;
        cursor: pointer;
        padding: .5rem 1rem;
        color: black;
        transition: all .3s;
        font-size: 1.2rem;

        & input[type="file"] {
            display: none;
        }

        &:hover,
        &:focus {
            background-color: $color-grey-light-1;
        }

        &:active {
            background-color: lighten($color-grey-dark-1, 8); 
        }
    }

    &__file-chosen {
        font-size: 1.3rem;
        margin-left: .5rem;
    }


    // Error ---------------------------------------------
    &__error {
        color: $color-error;
        font-weight: 400;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        margin-top: .2rem;
    }

    &__error-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
    }

    &__input--error,
    &__textarea--error,
    &__select--error {
        border-bottom: 1px solid $color-error;
        background-color: lighten($color-error, 45);
        color: $color-error;

        &::placeholder {
            color: rgba($color-error, .75);
        }
    }

    &__feedback {
        &--error {
            transition: all .3s;
            background-color: rgba($color-error, .5);
            border: 1px solid $color-error;
            padding: 1.5rem
        }
    }
}