.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url('../../public/assets/banner-lg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    @include respond(tab-land) {
        background-image: url('../../public/assets/banner-md.jpg');
    }

    @include respond(mobile-lg) {
        background-image: url('../../public/assets/banner-sm.jpg');
    }
    
    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        min-width: 45rem;

        & .search__input {
            width: 95%;
            margin: 0 2.25%;
            
            &:focus-visible {
                width: 100%;
                margin: 0 0;
                //transform: scale(1.025);
            }
        }

        & .search__button {
            margin-left: -5rem;
            transition: all .3s;

            @include respond(mobile) {
                margin-left: -4.3rem;
            }

            &:focus-visible {
                margin-left: 0rem;
            }
        }

        @include respond(mobile-lg) {
            & .search {
                transform: scaleX(1.025);
                width: 100%;
            }
        }

        @include respond(mobile) {
            min-width: unset;
            width: 80%;
        }

        
    }

    &__cta {
        justify-self: center;
        margin-top: -3rem;
        position: absolute;
        z-index: 100;
        bottom: -5rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}