.review-card {
    padding: 3rem; ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include respond(mobile-lg) {
        padding: 1.5rem;
    }
    

    // Description --------------------------------
    &__description {
        line-height: 1.6;
        margin-bottom: 3rem;
        
        @include respond(mobile-lg) {
            margin-bottom: 2rem;
        }
    }


    // User information box ---------------------
    &__user-box {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        column-gap: 1.5rem;
        align-items: center;
    }

    &__user-photo {
        display: flex;
        align-items: center;

        @include respond(mobile-lg) {
            width: 5rem;
            height: 5rem;
        }

        & > div {
            border-radius: 50%;
        }
    }

    &__user-name {
        font-size: 1.6rem;
        font-weight: 500;

        @include respond(mobile-lg) {
            font-size: 1.4rem;
        }
    }

    &__date {
        font-weight: 300;
        font-size: 1.4rem;

        @include respond(mobile-lg) {
            font-size: 1.2rem;
        }
    }

    &__rating {
        color: $color-primary;
        font-size: 3rem;

        @include respond(mobile-lg) {
            font-size: 2rem;
        }
    }
}