@import url("https://use.typekit.net/qtm0ysq.css");



// Default Styled ---------------------------------
body {
    font-size: $font-size-default;
    font-family: $font-family-body;
    line-height: 1.6;
    font-style: normal;
    font-weight: 300;

    @include respond(mobile) {
        font-size: 1.4rem;
    }
}



// Paragraphs -------------------------------------
.paragraph {
    &:not(:last-child) {
        margin-bottom: 2.5rem;

        @include respond(mobile) {
            margin-bottom: 1.5rem;
        }
    }
}



// Headline --------------------------------------
.headline {
    font-family: $font-family-heading;
    line-height: 1;
}



// Logo ------------------------------------------
.logo {
    &__h1 {
        font-family: $font-family-heading;
    }
}