.admin {
    background-color: #eee;
    height: 100%;
    border-top: 1px solid $color-grey-light-2;
}

.admin-navigation {
    grid-template-columns: 1fr;
    justify-items: end;
    align-items: center;
    gap: 0;
    //box-shadow: $boxshadow-default;
    //border-bottom: 1px solid $color-grey-light-1;

    & button {
        display: inline-block;
        max-width: 40rem;
    }
}

.admin-dashboard {
    grid-column: 2 / 3;
    grid-template-rows: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5rem; // <-- for older browser versions
    gap: 5rem; 

    padding: 5rem 0;
    align-items: flex-start;


    @include respond(desk) {
        grid-gap: 3.5rem; // <-- for older browser versions
        gap: 3.5rem; 
    }

    @include respond(tab-land) {
        grid-gap: 3rem; // <-- for older browser versions
        gap: 3rem; 
        grid-template-columns: minmax(min-content, 35rem) auto;
    }

    @include respond(tab-port) {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, max-content);
    }


    &__group {
        display: flex;
        flex-direction: column;

        // For the older versions
        & > *:not(:last-child) {
            margin-bottom: 5rem;

            @include respond(desk) {
               margin-bottom: 3.5rem;
            }

            @include respond(tab-land) {
                margin-bottom: 3rem;
            }
        }
        
        // For the 'newer' versions
        @supports (gap: 5rem) or (grid-gap: 5rem) {
            grid-gap: 5rem; // <-- for older browser versions
            gap: 5rem; 

            @include respond(desk) {
                grid-gap: 3.5rem; // <-- for older browser versions
                gap: 3.5rem; 
            }

            @include respond(tab-land) {
                grid-gap: 3rem; // <-- for older browser versions
                gap: 3rem; 
            }

            & > *:not(:last-child) {
                margin-bottom: 0;
            }
        } 

        & > * {
            background-color: #fff;
            box-shadow: $boxshadow-default;
        }

        
    }

    
}

/* .booking-notifications {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contact-notifications {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.edit-establishments {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.add-establishments {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
} */