// Admin <main> container ------------------------
.admin {
    background-color: #eee;
    height: 100%;
    border-top: 1px solid $color-grey-light-2;
}



// Admin Navigation ------------------------------
.admin-navigation {
    grid-template-columns: 1fr;
    justify-items: flex-end;
    align-items: center;
    gap: 0;

    & > .btn {
        justify-self: end;
    }
}



// Dashboard --------------------------------------
.admin-dashboard {
    grid-column: 2 / 3;
    grid-template-rows: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem; 

    padding: 5rem 0;
    align-items: flex-start;


    @include respond(desk) {
        gap: 3.5rem; 
    }

    @include respond(tab-land) {
        gap: 3rem; 
        grid-template-columns: minmax(min-content, 35rem) auto;
    }

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, max-content);
    }


    &__group {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;

        @include respond(desk) {
            gap: 3.5rem; 
        }

        @include respond(tab-land) {
            gap: 3rem; 
        }

        &:first-child {
            @include respond(tab-port) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: flex-start;
            }

            @include respond(mobile-lg) {
                display: grid;
                grid-template-columns: 1fr;
                align-items: flex-start;
            }
        }

        & > * {
            background-color: #fff;
            box-shadow: $boxshadow-default;
        }
    }   
}
