// Gallery ------------------------------------------
.establishment-gallery {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    display: grid;
    grid-template-columns: repeat(3, minmax(38rem, 1fr));
    max-height: clamp(30rem, 22vw, 40rem);
    overflow-y: hidden;
        
    @include respond(tab-land) {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch; 
        grid-template-columns: repeat(3, minmax(45rem, 1fr));
    }

    @include respond(mobile) {
        grid-template-columns: repeat(3, minmax(25rem, 1fr));
    }

    // If the screen can be touched - do not display a scrollbar
    @media (hover: none) {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    // Making the scrollbar a bit taller for easier grab
    &::-webkit-scrollbar {
        height: 1rem;
    }

    &__box {
        display: block;
        overflow: hidden;

        & > div {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            overflow: hidden;
        }
    }
}



// Header ------------------------------------------
.establishment-header {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    justify-content: space-between;

    @include respond(mobile) {
        display: grid;
        grid-template-columns: repeat(2, max-content);
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        column-gap: 4rem;

        @include respond(tab-land) {
            column-gap: 1rem;
        }

        @include respond(mobile) {
            column-gap: 0rem;
        }
    }

    &__title {
        padding-left: 2rem;
        font-family: $font-family-heading;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 3rem;

        @include respond(mobile-lg) {
            font-size: 2rem;
            padding: 0;
        }

        @include respond(mobile) {
            font-size: 1.8rem;
            padding-right: .5rem;
        }
    }

    &__stars {
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(5, max-content);
        gap: .5rem;

        @include respond(mobile-lg) {
            gap: .2rem;
        }

        & > svg {
            height: 2.2rem;
            width: 2.2rem;

            @include respond(mobile-lg) {
                height: 1.5rem;
                width: 1.5rem;
            }

            @include respond(mobile) {
                height: 1rem;
                width: 1rem;
            }
        }
    }

    &__address {
        color: $color-primary;

        @include respond(mobile-lg) {
            font-size: 1.2rem;
        }

        @include respond(mobile) {
            display: none;
        }
        
        & > svg {
            width: 2rem;
            height: 2rem;
            margin-right: .5rem !important;
            
            @include respond(mobile-lg) {
                height: 1.3rem;
                width: 1.3rem;
            }
        }
    }

    &__rating-box {
        background-color: $color-primary;
        color: $color-white;
        text-align: center;
        width: 9rem;
        position: relative;

        padding: 0 1rem;
        align-self: stretch;

        @include respond(mobile) {
            padding: 0 .5rem;
            width: 7rem;
        }

        & > div {
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        
    }

    &__rating {
        font-family: $font-family-heading;
        font-weight: 300;
        font-size: 3rem;
        line-height: 1;
        margin-bottom: .5rem;

        @include respond(mobile-lg) {
            font-size: 1.8rem;
        }

        @include respond(mobile) {
            font-size: 1.8rem;
        }
    }

    &__reviews {
        font-size: 1.2rem;

        @include respond(mobile-lg) {
            font-size: 1rem;
        }
    }
}



// Details -----------------------------------
.establishment-details {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: $color-grey-light-1;
    padding: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;

    @include respond(tab-land) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 3rem;
        padding: 3rem;
    }

    @include respond(mobile-lg) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0;
        row-gap: 3rem;
        padding: 1.5rem;
    }

   
    // Details Information
    &__info {
        grid-column: 1 / 3;
        grid-row: 1 / 3;

        background-color: $color-white;

        @include respond(tab-land) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        @include respond(mobile-lg) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }


    // Rooms 
    &__rooms {
        grid-column: 3 / 4;
        grid-row: 1 / 4;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5rem;

        @include respond(tab-land) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;

            grid-template-columns: 1fr 1fr ;
            grid-template-rows: auto;
            grid-gap: 3rem;
        }

        @include respond(mobile-lg) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 3rem;
        }
    

        & > * {
            background-color: $color-white;
            box-shadow: $boxshadow-default;

            @include respond(tab-land) {
                &:last-child {
                    grid-column: 1 / 3;

                    & .room__photo {
                        max-width: clamp(13rem, 18.5vw, 23rem);
                    }
                }
            }

            @include respond(mobile-lg) {
                &:last-child {
                    grid-column: unset;

                    & .room__photo {
                        max-width: unset;
                    }
                }
            }
        }
    }


    // Reviews 
    &__reviews {
        grid-column: 1 / 3;
        grid-row: 3 / 4;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 5rem;

        @include respond(tab-land) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;

            grid-template-columns: 1fr 1fr;
        }

        @include respond(mobile-lg) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;

            grid-template-columns: 1fr;
            row-gap: 3rem;
        }

        & > * {
            background-color: $color-white;
            box-shadow: $boxshadow-default;

           
        }
    }
}



// Call to Action -----------------------------------
.establishment-cta {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10rem 0;

    &__title {
        font-family: $font-family-heading;
        font-weight: 400;
        font-size: 4rem;
        margin-bottom: 3rem;
        letter-spacing: 3px;

        @include respond(mobile) {
            font-size: 3rem;
            text-align: center;
        }
    }
}