.login {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-45deg, $color-black, $color-grey-dark-1);


    // Box (container) ----------------------------
    &__box {
        width: 32rem;
        height: max-content;

        @include centerElement;
        color: $color-white;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;

        @include respond(mobile) {
            width: 90vw;
        }

        & > a {
            text-decoration: none;
        }
    }



    // Brand --------------------------------------
    &__brand {
        display: flex;
        align-items: flex-end;
        text-decoration: none;


        & > *:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__brand-link {
        border: 1px solid transparent;
        
        &:focus-visible {
            border: 1px solid white;
            outline: none;
        }
    }

    &__logo {
        font-family: $font-family-heading;
        font-weight: 300;
        font-size: 6rem;
        line-height: 1;
        text-decoration: none;
        color: $color-white;
    }

    &__logo-icon {
        width: 30%;
        margin-bottom: -1.4rem;
    }



    // Input Fields -------------------------------
    &__fields {
        display: flex;
        flex-direction: column;

        & > *:first-child {
            margin-bottom: 2rem;
        }

        & input {
            border-bottom: 2px solid transparent;

            &:focus {
                border-bottom: 2px solid $color-primary;
            }
        }
    }



    // Button --------------------------------------
    &__button {
        &:focus-visible {
            border: 1px solid white;
        }
    }
}