.login {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-45deg, $color-black, $color-grey-dark-1);

    &__box {
        width: 32rem;
        height: max-content;

        @include centerElement;
        color: $color-white;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;

        @include respond(mobile) {
            width: 90vw;
        }

        & > a {
            text-decoration: none;
        }
    }

    &__brand {
        display: flex;
        align-items: flex-end;
        text-decoration: none;

        & > *:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__logo {
        font-family: $font-family-heading;
        font-weight: 300;
        font-size: 6rem;
        line-height: 1;
        text-decoration: none;
        color: $color-white;
    }

    &__logo-icon {
        width: 30%;
        margin-bottom: -1.4rem;
    }

    &__fields {
        display: flex;
        flex-direction: column;

        & > *:first-child {
            margin-bottom: 2rem;
        }
    }

    &__essentials {
        margin-top: .8rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        font-weight: 300;

        & > *:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__forgot {
        color: inherit;
        text-decoration: none;
        transition: all .3s;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $color-white;
        }
    }
}